*	{box-sizing: border-box;}
body	{background-color: black; 
	padding-top:60px;
	min-height: 100vh;
	margin: 0 0;}
a	{color:transparent;}
img	{
	vertical-align: sub;
	max-width: 54px;
	width:54px;
	max-height: 54px;
	border-radius:10px;}
audio	{
	width:100%;
	margin: 0 auto;
	}
button{
	background-color: transparent;
	padding: 1px;
	color: white;
	font-size: 22px;
	text-align: center;
	border-style: none;
	border-width: thin;
}
button:hover{
	background-color: #006500;
}
.timer-buttons{
	width: 100%;
	height: 50px;
}
.header {
	height:60px;
	width: 100%;
	background-color:#003000;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	position:fixed;
	padding: 5px;
	top: 0;
	left: 0;
	z-index:1;}
.header-white{
	height:60px;
	width: 100%;
	background-color:#00a000;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	position:fixed;
	padding: 5px;
	top: 0;
	left: 0;
	z-index:1;}
.content{
	display: block;
	overflow: auto;	
	padding: 8px;
	background-image:linear-gradient(#002600,black);
	}
.content-white{
	display: block;
	overflow: auto;
	padding: 8px;
	background-image:linear-gradient(#00bb00,#eeeeee);
}
.logo	{
	height:50px;
	max-width:200px;
	width:auto;
	}
.header-button{
	position: absolute;
	height: 100%;
	border-style: none;
	font-size: 30px;
}
#theme-button{
	width: 45px;
	right: 90px;
	bottom: 0;
}
#theme-icon{
	width: 40px;
}
#timer-button{
	right: 0;
	bottom: 0;
	width: 90px;
}
#timer-icon{
	width: 40px;
	margin: 7px 0;
}
#popup_menu	{
	display: none;
	position: fixed;
	background-color: #005000;
	opacity: .95;
	top: 57px;
	right: 0;
	width: 90px;
	text-align: center;
	z-index: 2;
}
.col-1	{
	display:inline-block;
	vertical-align:middle;
	height: 54px;
	width:54px;
	margin: 5px 0px 5px 1px;
	//border-style:solid;
	}
.col-2	{
	display:inline-block;
	vertical-align:middle;
	height:54px;
	width: calc(100% - 60px);
	margin: 5px 0;
	//border-style:solid;
	}
.col-3	{width:100%;
	float:left;
	margin:5px 0;
	}

.weather{float:right;
	width:100%;
	margin:10px auto;}
@media only screen and (min-width: 992px) {
	audio		{width: 97%;}
	.col-2 		{width: calc(33% - 60px);}
	.col-3 		{width: 75%;}
	.weather {
		width: 23%;
		margin: 10px 5px 10px 0px;
	}
	#popup_menu, #timer-button { width: 100px; }
	#theme-button {
		width: 100px;
		right: 100px;
	}
}
